<!DOCTYPE html>
<html>
<head>
	<!--Import Google Icon Font-->
	<link href="http://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
	<!--Import materialize.css-->
	<link type="text/css" rel="stylesheet" href="css/materialize.css"  media="screen,projection"/>
	<script src="/socket.io/socket.io.js"></script>
	<!--Let browser know website is optimized for mobile-->
	<meta name="viewport" content="width=device-width, initial-scale=1.0"/>

	<!-- import kule.lazy animates.css --> 
	<link type="text/css" rel="stylesheet" href="css/kule.lazy-master/css/kule-animates.min.css"  media="screen,projection"/>
	<link type="text/css" rel="stylesheet" href="css/kule.lazy-master/css/kule-addons.min.css"  media="screen,projection"/>

	<!--Import jQuery before materialize.js-->
	<script type="text/javascript" src="/js/jquery-1.11.0.min.js"></script>
	<script type="text/javascript" src="js/materialize.js"></script>

	<style>
		/* global */
		html{
			font-family: ;
		}
		hr {
			border:0; height:1px; background-color:#d4d4d4; margin-left: 0px !important;
		}
		.cancel-zone{
			display: none;
			position: fixed;
			width: 100%;
			height: 100%;
			background-color: rgba(255, 255, 255, 0.3);
			z-index: 998;
		}
		.pop-out{

		}
		/* layout */
		.header{
			padding: 10px;
			padding-left: 10px;
			background-color: #4fc3f7;
		}
		.header .mynav-pc li{
			font-family: condensed;
			color: white;
			padding-left: 4px;
			padding-right: 4px;
		}
		.header .mynav-mobile li{
			font-family: condensed;
			color: #01579b;
		}
		.nav-wrapper{
			border-radius: 3px;
			background-color: #01579b;
			padding-right: 16px;
		}
		.logo{
			font-family: ;
			padding-left: 16px;
			display: inline-block;
			font-size: 32px;
			color: white;
		}
		.body{
			padding: 16px;
		}
		.footer{
			color: white;
			padding: 8px;
			padding-left: 48px;
			position: fixed;
			bottom: 0;
			left: 0;
			height: 60px;
			background-color: #01579b;
			width: 100%;
		}
		.footer li{
			float: left;
			padding-right: 7px;
		}
		.user{
			opacity: 0;
			display: none;
		}
	</style>
</head>

<body>
<!-- cancel zone -->
<div class="cancel-zone">
  
</div>

<div class="header z-depth-1">
	<nav style="background-color: #4fc3fc; border-radius: 3px;">
	    <div class="nav-wrapper">
			<div class="logo"><a href="/"><b>Patchwork</b></a></div>
				<a href="#" data-activates="mobile-demo" class="button-collapse"><i class="material-icons">menu</i></a>
				<ul class="mynav-pc right hide-on-med-and-down">
					<li><a href="/dashboard">DashBoard</a></li>
					<li><a href="">TeamMate</a></li></li>
					<li><a href="">Project</a></li></li>
					<li><a href="#" class="dropdown-button" data-activates="dropdown1"><i class="material-icons">perm_identity</i></a></li>
				</ul>
				<ul id="dropdown1" class="dropdown-content">
					<li style="font-size:14px; padding-left:10px; padding-top:6px; color:#01579b;">Guan Dei, Li</li>
					<li style="text-align: center; background-color: #eee"><i class="material-icons" style="color: #01579b">perm_identity</i></li>
					<li style="font-size:14px; padding-left:10px; padding-top:6px; padding-right:12px; color:#01579b;">guansunyata@gmail.com</li>
					<li class="divider"></li>
					<li style="text-align: center; font-size: 12px;"><a href="#">Logout</a></li>
				</ul>
				<ul class="mynav-mobile side-nav" id="mobile-demo">
					<li><a href="">DashBoard</a></li></li>
					<li><a href="">TeamMate</a></li></li>
					<li><a href="">Project</a></li></li>
					<li><i class="material-icons">perm_identity</i></li>
				</ul>
	    </div>
	</nav>
</div>

	{{{body}}}

<div class="footer">
	<div class="col s12 valign">
		<ul>
		<li><i class="material-icons">supervisor_account</i></li>
		<li>Yuntech IM｜Demo</li>
		</ul>
	</div>
</div>

</body>
</html>

<script type="text/javascript">
var socket = io.connect();
$( document ).ready(function() {
	//cancel zone
	$('.cancel-zone').click(function() {
		console.log('cancel-zone was clicked and set pop-out element display: none');
		$('.pop-out').css({"display":"none"});
		$('.cancel-zone').css({"display":"none"});
	})
	//nav
    $('.dropdown-button').dropdown({
	      inDuration: 300,
	      outDuration: 225,
	      constrain_width: false, // Does not change width of dropdown to that of the activator
	      hover: false, // Activate on hover
	      gutter: 0, // Spacing from edge
	      belowOrigin: true, // Displays dropdown below the button
	      alignment: 'right' // Displays dropdown with edge aligned to the left of button
	    }
	);
	$(".button-collapse").sideNav();
});

$cancel_zone = $('.cancel-zone');
function active_cancelzone(){
  $cancel_zone.css({"display":"block"})
}

(function($) {
    $.fn.clickToggle = function(func1, func2) {
        var funcs = [func1, func2];
        this.data('toggleclicked', 0);
        this.click(function() {
            var data = $(this).data();
            var tc = data.toggleclicked;
            $.proxy(funcs[tc], this)();
            data.toggleclicked = (tc + 1) % 2;
        });
        return this;
    };
}(jQuery));
</script>
