
    <link type="text/css" rel="stylesheet" href="css/kule.lazy-master/css/kule-lazy.min.css"  media="screen,projection"/>
    <link type="text/css" rel="stylesheet" href="css/kule.lazy-master/css/kule-addons.min.css"  media="screen,projection"/>

<div class="chat" style="position:absolute; bottom: 0px; font-size: 14px;">
    
    <div class="chat-body">
        <div class="chat-msg-item left">
            <a class="chat-avatar">
                <img src="img/demo1.jpg">
            </a>
            <div class="chat-content">
                <p>~略~</p>
                <div class="chat-time">
                    <time datetime="2013-11-1 15:34:28">15:34:28</time>
                </div>
            </div>
        </div>
        <div class="chat-msg-item left">
            <a class="chat-avatar">
                <img src="img/demo1.jpg">
            </a>
            <div class="chat-content">
                <p>~略~</p>
                <div class="chat-time">
                    <time datetime="2013-11-1 15:34:28">15:34:28</time>
                </div>
            </div>
        </div>
        <div class="chat-msg-item right">
            <a class="chat-avatar">
                <img src="img/demo3.jpg">
            </a>
            <div class="chat-content">
                <p>~略~</p>
                <div class="chat-time">
                    <time datetime="2013-11-1 15:34:28">15:34:28</time>
                    <span class="chat-read">Read</span>
                </div>
            </div>
        </div>
    </div>
    <div class="chat-footer">
        <div class="input-grp">
            <input type="text" class="ctrl-input" />
            <span class="input-grp-btn">
                <a class="btn">Submit</a>
            </span>
        </div>
    </div>
</div>