<!DOCTYPE html>
<script src="js/countUp.js"></script>
<script src="./js/Chart.js"></script>
<style type="text/css">
  * {
    -webkit-box-sizing: border-box;
       -moz-box-sizing: border-box;
            box-sizing: border-box;
  }
  .dashboard{
    font-family: '微軟正黑體';
  }
  .chart-card{
    padding-left: 12px;
    padding-right: 12px;
    margin-top: 20px;
    margin-bottom: 10px;
  }
  .chart-content{
    /*height: 250px;*/
    /*background-color: gray;*/
    /*background: -webkit-radial-gradient(circle, #96C2FE, #6E9AEA);*/
    padding: 20px 20px;
  }
  .proj-field-title{
    display: inline-block;
    color: white;
    margin: 5px 0px 0px 0px;
    padding: 3px 7px;
    border-radius: 4px;
  }
  .proj-name div{
    display: inline-block;
    margin: 5px 0px 10px 20px;
    padding-bottom: 5px;
    font-size: 24px;
    border-bottom: 1px solid black;
  }
  .proj-desc{
    margin: 8px 0px 8px 20px;
  }
  .proj-date-wrap{
    display: inline-block;
    text-align: center;
  }
  .proj-date-dash{
    display: inline-block;
    margin-left: 5px;
    margin-right: 5px;
  }
  .chart-mid{
  	text-align: center;
  	-moz-user-select: none; 
    -khtml-user-select: none; 
    -webkit-user-select: none; 
    -o-user-select: none;
  }
  #finishedRate{
  	display: inline-block;
  	font-family: "Courier New";
  	font-size: 150px;
  	line-height: 140px;
  }
  .finished-rate-unit{
  	display: inline-block;
  	font-family: "Courier New";
	  font-size: 50px;
  }
  .finished-task-wrap, .finished-todo-wrap{
  	display: inline-block;
  	font-family: "Courier New";
  	text-align: right;
  }
  .total-task-wrap, .total-todo-wrap{
  	display: inline-block;
  	font-family: "Courier New";
  	text-align: left;
  }
  .task-dash, .todo-dash{
  	display: inline-block;
  	margin-left: 5px;
  	margin-right: 5px;
  	font-size: 35px;
  	font-weight: 100;
  	line-height: 40px;
  	vertical-align: top;
  }
  #finishedTask, #totalTask, #finishedTodo, #totalTodo{
  	font-size: 25px;
  	line-height: 20px;
  }
  .panel{
    padding-left: 12px;
    padding-right: 12px;
    margin-top: 0px;
    margin-bottom: 5px;
  }
  .panel a{
    text-transform: none;
  }
  .panel-content{
    height: 40px;
  }
  .task-card{
    padding-left: 12px;
    padding-right: 12px;
    margin-bottom: 12px;
  }
  .task-card a{
    color: white;
  }
  .task-wrapper{
    padding: 12px;
    padding-left: 24px;
    padding-right: 24px;
    height: 315px;
    background-color: #4CAF50; //element style
  }
  .task-title{
    line-height: 20px;
    margin-bottom: 0px;
    color: white;
    text-align: center;
    font-weight: bold;
    font-size: 22px;
    /*border-width: 1px;
    border-bottom-style: solid;*/
  }
  .task-state{
    height: 20px;
    background-color: rgba(255, 255, 255, 1);
  }
  .task-state div{
    font-size: 11px;
  }
  .task-state-icon{
    height: 20px;
    padding-left: 6px;
  }
  .task-state-decription{
    padding-left: 5px;
  }
  .task-leader{
    vertical-align: center;
    padding: 6px;
    margin-top: 0px;
    height: 50px;
    background-color: #c8e6c9; //element style
  }
  .task-content{
    padding: 6px;
    margin-top: 0px;
    background-color: white;
    height: 150px;
    overflow: hidden;
  }
  label{
    color: black;
  }
  .tag-more{
    margin-top: 3px;
    color: white;
  }
  .tag-edit{
    margin-top: 3px;
    color: white;
  }
  label.todo-finished{
    text-decoration: line-through;
  }
  hr{
    -webkit-margin-before: 6px;
    -webkit-margin-after: 6px;
  }

  .add-task-panel{
    display: none;
    padding: 16px;
    position: fixed;
    width: 450px;
    height: 600px;
    top: 50%;
    left: 50%;
    margin-top: -300px;
    margin-left: -225px;
    background-color: white;
    z-index: 999;
    overflow: hidden;
  }
  .add-task-panel-title{
    font-size: 24px;
    padding-left: 18px;
    margin-bottom: 12px;
  }

  .post{
    background-color: gray;
    height: 100%;
  }

  /* tooltip */
  /* 
  a.tooltip {outline:none; }
  a.tooltip strong {line-height:30px;}
  a.tooltip:hover {text-decoration:none;} 
  a.tooltip span {
      z-index:10;display:none; padding:14px 20px;
      margin-top:-30px; margin-left:28px;
      width:300px; line-height:16px;
  }
  a.tooltip:hover span{
      display:inline; position:absolute; color:#111;
      border:1px solid #DCA; background:#fffAF0;}
  .callout {z-index:20;position:absolute;top:30px;border:0;left:-12px;}

  a.tooltip span
  {
      border-radius:4px;
      box-shadow: 5px 5px 8px #CCC;
  }
  */

</style>

<div class="row" style="margin-left: 1%; marign-right: 1%;">

<!-- <div class="post col s1"></div> -->

<div class="container">
<div class="dashboard col s12">
  <!-- pop-out div (P.S. there are cancel zone in the layout)-->
  <div class="pop-out add-task-panel z-depth-2 animate fadescaleIn">
    <div class="add-task-panel-title">Add Task</div>
    <div class="row">
    <form class="col s12">
      <div class="row">
        <div class="input-field col s12">
          <input id="name" type="text" class="validate">
          <label for="name">Task Name</label>
        </div>
      </div>
      <div class="row">
        <div class="input-field col s12">
          <textarea id="textarea1" class="materialize-textarea"></textarea>
          <label for="textarea1">Description</label>
        </div>
      </div>
      <div class="row">
        <div class="input-field col s6">
          <input placeholder="start date" id="start_date" type="text" class="validate">
          <label for="first_name">Start date</label>
        </div>
        <div class="input-field col s6">
          <input placeholder="due date" id="due_date" type="text" class="validate">
          <label for="last_name">Due date</label>
        </div>
      </div>
      <div class="row">
        <div class="input-field col s12">
          <input id="email" type="text" class="validate">
          <label for="email">Task leader</label>
        </div>
      </div>
      <div class="row">
        <div class="input-field col s12">
          <input id="email" type="text" class="validate">
          <label for="email">Collaborations</label>
        </div>
      </div>
    </form>
    </div>
  </div>
	<!-- changes  -->
  <div class="chart-card">
    <div class="card chart-content">
      <div class="row" id="dashboard-wrap">
        <div class="col s12 m12 l4 chart-left">
          <div class="grey lighten-1 proj-field-title">Project Name</div>
          <div class="proj-name">
            <div id="projName"></div>
          </div>
          <div class="grey lighten-1 proj-field-title">About this Project</div>
          <div class="proj-desc">
            <div id="projDesc"></div>
          </div>
          <div class="proj-date-wrap">
            <span class="grey lighten-1 proj-field-title">Start Date</span><br />
            <span id="projStartdate"></span>
          </div>
          <div class="proj-date-dash"> - </div>
          <div class="proj-date-wrap">
            <span class="grey lighten-1 proj-field-title">Due Date</span><br />
            <span id="projDuedate"></span>
          </div>
        </div>
        <div class="col s12 m12 l4 chart-mid">
        	<div class="proj-finished-rate-wrap">
        		<div id="finishedRate">0</div>
        		<span class="finished-rate-unit">%</span>
        	</div>
        	<div class="proj-task-wrap">
        		<div class="finished-task-wrap">
        		  <div id="finishedTask">0</div>
        		  <div class="finished-task-unit">Finished Tasks</div>
        		</div>
        		<div class="task-dash">/</div>
        		<div class="total-task-wrap">
        		  <div class="total-task-unit">Total Tasks</div>
        		  <div id="totalTask">0</div>
        		</div>
        	</div>
        	<div class="proj-todo-wrap">
        		<div class="finished-todo-wrap">
        		  <div id="finishedTodo">0</div>
        		  <div class="finished-todo-unit">Finished Todos</div>
        		</div>
        		<div class="todo-dash">/</div>
        		<div class="total-todo-wrap">
        		  <div class="total-todo-unit">Total Todos</div>
        		  <div id="totalTodo">0</div>
        		</div>
        	</div>
        </div>
        <div class="col s12 m12 l4 chart-right">
          <div class="proj-status-wrap">
        	<div class="grey lighten-1 proj-field-title">Recent Status</div>
        	<div class="proj-status">
        		系統架構規劃中<br /><br />
        	</div>
          </div>
          <div class="proj-members-wrap">
            <div class="grey lighten-1 proj-field-title">Project Members</div>
            <div class="proj-members">
              <p></p>
              <div class="chip">
                <img src="images/dashboard-leader.jpg" alt="Contact Person">
                許韶文
              </div>&nbsp;
              <div class="chip">
                <img src="images/dashboard-leader2.jpg" alt="Contact Person">
                林紘丞
              </div>
          </div>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col s12 m12 l12">
          <canvas id="myChart" height="70" style="display: none;"></canvas>
        </div>
      </div>
    </div>
  </div>

  <div class="panel">
    <div class="panel-content">
        <a class="add-task-btn waves-effect btn animate fadescaleInLeft" href="javascript:add_task()">Add Task</a>
        <input>
        <a class="btn waves-effect btn animate fadescaleInLeft" onclick="Materialize.toast('Guan : everybody hurry up !!', 4000)">Broadcast!</a>
    </div>
  </div>
  <div class="row">
    <div class="task-card col s12 m6 l3" id="_id1">
      <div class="task-wrapper z-depth-2 animate bounceIn">
        <div class="task-title">
          <a href="/task">系統架構規劃</a>
        </div><hr />

        <div class="task-state valign-wrapper">
          <div class="task-state-icon">
            <i class="small material-icons" style="color: #1b5e20; font-size: 20px;">play_circle_filled</i>
          </div>
          <div class="task-state-decription left">
            : Everything is on time from now.
          </div>
        </div>

        <div class="task-leader valign-wrapper z-depth-1">
          <div class="valign left" style="height: 40px;">
            <img src="images/dashboard-leader.jpg" alt="" height="40" class="circle">
          </div>
          <div class="valign left" style="padding-left: 6px;">
            <b>Xiou Wan, Hsu</b>
          </div>
        </div>

        <div class="progress">
          <div class="determinate" style="width: 22.5%"></div>
        </div>

        <div class="fixed-action-btn" style="bottom: 160px; right: 10px;">
            <a class="btn-floating btn-large #1b5e20 green darken-4">
              25.0%
            </a>
        </div>

        <div class="task-content z-depth-1">
          <div class="todo">
            <input type="checkbox" class="filled-in" id="todo1-1" checked="checked" disabled="disabled" />
            <label for="todo1-1" style="text-decoration: line-through;">Doc Gathering</label>
          </div>
          <div class="todo">
            <input type="checkbox" class="filled-in" id="todo1-2" disabled="disabled" />
            <label for="todo1-2">蒐集需求</label>
          </div>
          <div class="todo">
            <input type="checkbox" class="filled-in" id="todo1-3" disabled="disabled" />
            <label for="todo1-3">需求分析</label>
          </div>
          <div class="todo">
            <input type="checkbox" class="filled-in" id="todo1-4" disabled="disabled" />
            <label for="todo1-4">功能確認</label>
          </div>
          <div class="todo">
            <input type="checkbox" class="filled-in" id="todo1-4" disabled="disabled" />
            <label for="todo1-4">開發技術與環境確認</label>
          </div>
        </div>

        <div class="tag-edit left valign-wrapper"><i class="tiny material-icons valign">settings</i><div class="valign">edit</div></div>
        <div class="tag-more right valign-wrapper"><i class="tiny material-icons valign">reorder</i><div class="valign">more</div></div>
      </div>
    </div>
    
    
    <div class="task-card col s12 m6 l3" id="_id1">
      <div class="task-wrapper z-depth-2 animate bounceIn" style="background-color: #039be5;">
        <div class="task-title">
          資料庫設計
          <div style="font-size: 12px; color:white; font-weight: normal;">- due day : 10/30 -</div>
        </div>

        <div class="task-state valign-wrapper">
          <div class="task-state-icon">
            <div class="valign left"><i class="material-icons" style="color: #0d47a1; height:1px;">trending_down</i></div>
          </div>
          <div class="task-state-decription left">
            : 行程有些延誤。
          </div>
        </div>

        <div class="task-leader valign-wrapper z-depth-1" style="background-color: #e1f5fe;">
          <div class="valign left" style="height: 40px;">
            <img src="images/dashboard-leader2.jpg" alt="" height="40" class="circle">
          </div>
          <div class="valign left" style="padding-left: 6px;">
            <b>林紘丞</b>
          </div>
        </div>

        <div class="progress" style="background-color: #1e88e5;">
          <div class="determinate" style="width: 100%; background-color: #0d47a1"></div>
        </div>

        <div class="fixed-action-btn" style="bottom: 160px; right: 10px;">
            <a class="btn-floating btn-large #0d47a1 blue darken-4">
              100%
            </a>
        </div>

        <div class="task-content z-depth-1">
          <div class="todo">
            <input type="checkbox" class="filled-in" id="todo1-1" checked="checked" disabled="disabled" />
            <label for="todo1-1" class="todo-finished">課程資料表</label>
          </div>
          <div class="todo">
            <input type="checkbox" class="filled-in" id="todo1-2" checked="checked" disabled="disabled" />
            <label for="todo1-2" class="todo-finished">會員資料表</label>
          </div>
          <div class="todo">
            <input type="checkbox" class="filled-in" id="todo1-3" checked="checked" disabled="disabled" />
            <label for="todo1-3" class="todo-finished">優惠方案資料表</label>
          </div>
          <div class="todo">
            <input type="checkbox" class="filled-in" id="todo1-3" checked="checked" disabled="disabled" />
            <label for="todo1-3" class="todo-finished">關聯式設計</label>
          </div>
        </div>
      </div>
    </div>


    <div class="row">
    <div class="task-card col s12 m6 l3" id="_id1">
      <div class="task-wrapper z-depth-2 animate bounceIn teal lighten-2">
        <div class="task-title">
          <a href="/task">系統實作</a>
        </div><hr />

        <div class="task-state valign-wrapper">
          <div class="task-state-icon">
            <i class="small material-icons" style="color: #1b5e20; font-size: 20px;">play_circle_filled</i>
          </div>
          <div class="task-state-decription left">
            : Everything is on time from now.
          </div>
        </div>

        <div class="task-leader valign-wrapper z-depth-1">
          <div class="valign left" style="height: 40px;">
            <img src="images/dashboard-leader.jpg" alt="" height="40" class="circle">
          </div>
          <div class="valign left" style="padding-left: 6px;">
            <b>Xiou Wan, Hsu</b>
          </div>
        </div>

        <div class="progress teal lighten-2">
          <div class="determinate teal darken-2" style="width: 47.5%"></div>
        </div>

        <div class="fixed-action-btn" style="bottom: 160px; right: 10px;">
            <a class="btn-floating btn-large #1b5e20 teal darken-1">
              50.0%
            </a>
        </div>

        <div class="task-content z-depth-1">
          <div class="todo">
            <input type="checkbox" class="filled-in" id="todo1-2" disabled="disabled" checked />
            <label for="todo1-2" class="todo-finished">時程規劃</label>
          </div>
          <div class="todo">
            <input type="checkbox" class="filled-in" id="todo1-3" disabled="disabled" checked />
            <label for="todo1-3" class="todo-finished">前端設計</label>
          </div>
          <div class="todo">
            <input type="checkbox" class="filled-in" id="todo1-4" disabled="disabled" />
            <label for="todo1-4">後端模型設計</label>
          </div>
          <div class="todo">
            <input type="checkbox" class="filled-in" id="todo1-4" disabled="disabled" />
            <label for="todo1-4">後端資料存取設計</label>
          </div>
        </div>

        <div class="tag-edit left valign-wrapper"><i class="tiny material-icons valign">settings</i><div class="valign">edit</div></div>
        <div class="tag-more right valign-wrapper"><i class="tiny material-icons valign">reorder</i><div class="valign">more</div></div>
      </div>
    </div>

    
    <div class="row">
    <div class="task-card col s12 m6 l3" id="_id1">
      <div class="task-wrapper z-depth-2 animate bounceIn red lighten-2">
        <div class="task-title">
          <a href="/task">系統測試</a>
        </div><hr />

        <div class="task-state valign-wrapper">
          <div class="task-state-icon">
            <i class="small material-icons" style="color: #901600; font-size: 20px;">play_circle_filled</i>
          </div>
          <div class="task-state-decription left">
            : Everything is on time from now.
          </div>
        </div>

        <div class="task-leader valign-wrapper z-depth-1 red lighten-4">
          <div class="valign left" style="height: 40px;">
            <img src="images/dashboard-leader.jpg" alt="" height="40" class="circle">
          </div>
          <div class="valign left" style="padding-left: 6px;">
            <b>Xiou Wan, Hsu</b>
          </div>
        </div>

        <div class="progress red lighten-2">
          <div class="determinate red darken-4" style="width: 29.8%"></div>
        </div>

        <div class="fixed-action-btn" style="bottom: 160px; right: 10px;">
            <a class="btn-floating btn-large #1b5e20 red darken-4">
              33.3%
            </a>
        </div>

        <div class="task-content z-depth-1">
          <div class="todo">
            <input type="checkbox" class="filled-in" id="todo1-2" disabled="disabled" />
            <label for="todo1-2">壓力測試</label>
          </div>
          <div class="todo">
            <input type="checkbox" class="filled-in" id="todo1-3" disabled="disabled" checked />
            <label for="todo1-3" class="todo-finished">功能測試</label>
          </div>
          <div class="todo">
            <input type="checkbox" class="filled-in" id="todo1-4" disabled="disabled" />
            <label for="todo1-4">安全測試</label>
          </div>
        </div>

        <div class="tag-edit left valign-wrapper"><i class="tiny material-icons valign">settings</i><div class="valign">edit</div></div>
        <div class="tag-more right valign-wrapper"><i class="tiny material-icons valign">reorder</i><div class="valign">more</div></div>
      </div>
    </div>
<div>


</div>
</div>
<script type="text/javascript">
$( document ).ready(function(){
  $('.footer').remove();
  $add_task_panel = $('.add-task-panel');
  getStats(count_up);
  letsChartjs();

  var $dashboardWrap = $("#dashboard-wrap");
  var $dashboardMid = $(".chart-mid");
  var $chart = $("#myChart");
  $dashboardMid.click(function () {
    // $dashboardWrap.stop().fadeToggle(300);
    // $chart.stop().fadeToggle(300);
    if(!$chart.is(':animated')&&!$dashboardWrap.is(':animated')){
      $dashboardWrap.fadeToggle(300, function () {
        $chart.fadeToggle(300);
      });
    }
  });

  $chart.click(function () {
    // $dashboardWrap.stop().fadeToggle(300);
    // $chart.stop().fadeToggle(300);
    if(!$chart.is(':animated')&&!$dashboardWrap.is(':animated')){
      $chart.fadeToggle(300, function () {
        $dashboardWrap.fadeToggle(300);
      });
    }
  });
});
function add_task(){
  $add_task_panel.css({"display":"block"})
  active_cancelzone();
}
function letsChartjs(){
  var max = 11;
  var steps = 1;
  Chart.defaults.global.responsive = true;
  Chart.defaults.global.scaleOverride = true;
  Chart.defaults.global.scaleSteps = max;
  Chart.defaults.global.scaleStepWidth = steps;
  Chart.defaults.global.scaleStartValue = 0;
  var data = {
    labels: ["2015-12-29", "2015-12-30", "2015-12-31", "2016-1-1", "2016-1-2", "2016-1-3", "2016-1-4", "2016-1-5", "2016-1-6", "2016-1-7", "2016-1-8"],
    datasets: [
        {
            label: "My First dataset",
            fillColor: "rgba(121,157,175,0)",
            strokeColor: "rgba(121,157,175,5)",
            pointColor: "rgba(121,157,175,5)",
            pointStrokeColor: "#fff",
            pointHighlightFill: "#fff",
            pointHighlightStroke: "rgba(121,157,175,5)",
            data: [0, 4, 4, 4, 5, 5, 8, 10]
        },
        {
            label: "My Second dataset",
            fillColor: "rgba(150,150,150,0)",
            strokeColor: "rgba(150,150,150,1)",
            pointColor: "rgba(150,150,150,1)",
            pointStrokeColor: "#fff",
            pointHighlightFill: "#fff",
            pointHighlightStroke: "rgba(150,150,150,1)",
            data: [1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11]
        }
    ]
  };
  var options = {};
  var ctx = $("#myChart").get(0).getContext("2d");
  var myNewChart = new Chart(ctx).Line(data, options);
}
function getStats(count_up) {
  $.post('/api/getCount', {proj_id: '5653015b58fe43dc186ec0a0'},
    function (data) {
      count_up(data.totalTask,
               data.finishedTask,
               data.totalTodo,
               data.finishedTodo);
    });
}
function count_up(totalTask, finishedTask, totalTodo, finishedTodo){
  // var $finishedRate = $('#finishedRate');
  // var $finishedTask = $('#finishedTask');
  // var $totalTask = $('#totalTask');
  // var $finishedTodo = $('#finishedTodo');
  // var $totalTodo = $('#totalTodo');
  var rate = 0;
  if(totalTodo==0)
    rate = 0;
  else 
    rate = finishedTodo/totalTodo*100;
  var options = {
    useEasing : true, 
    useGrouping : true, 
    separator : ',', 
    decimal : '.', 
    prefix : '', 
    suffix : ''
  };
  var rate_countup = new CountUp("finishedRate", 0, rate, 0, 3.5, options);
  var finished_task_countup = new CountUp("finishedTask", 0, finishedTask, 0, 3.5, options);
  var total_task_countup = new CountUp("totalTask", 0, totalTask, 0, 3.5, options);
  var finished_todo_countup = new CountUp("finishedTodo", 0, finishedTodo, 0, 3.5, options);
  var total_todo_countup = new CountUp("totalTodo", 0, totalTodo, 0, 3.5, options);
  rate_countup.start();
  finished_task_countup.start();
  total_task_countup.start();
  finished_todo_countup.start();
  total_todo_countup.start();
}
</script>

<script type="text/javascript">
  // get project information from mongolab
  var $projName = $('#projName');
  var $projDesc = $('#projDesc');
  var $projStartdate = $('#projStartdate');
  var $projDuedate = $('#projDuedate');
  var projId = "";
  $.post('/api/findProj', {'proj_id': '5653015b58fe43dc186ec0a0'}, 
    function(data){
      startd = new Date(data.startdate);
      startd_layout = (startd.getFullYear()+'-'+(startd.getMonth()+1)+'-'+startd.getDate());
      dued = new Date(data.duedate);
      dued_layout = (dued.getFullYear()+'-'+(dued.getMonth()+1)+'-'+dued.getDate());
      $projName.html(data.name);
      $projDesc.html(data.desc+'<br />');
      $projStartdate.html(startd_layout);
      $projDuedate.html(dued_layout);
  });
  // $.post('/api/updateProjName', {id: '5653015b58fe43dc186ec0a0', name:'project!'},
  //   function(data){
  //     $projName.html(data[0].name);
  // });  
</script>