<!DOCTYPE html>

 <div class="row">
      <div class="col s12"><span class="flow-text">I am always full-width (col s12)</span></div>
      <div class="col s12 m6"><span class="flow-text">I am full-width on mobile (col s12 m6)</span></div>
</div>
