<!doctype html>
<div class="container">
  <p></p>

  <!-- login button -->
  <div class="row">
    <div class="col s12">
    	<h3>facebook auth testpage.</h3>
    	<p>login options:</p>
    	<a class="blue darken-4 waves-effect waves-light btn" href="/auth/facebook">Facebook</a>
      <p> </p>
      <a href="/profiletest">Profile</a>
    </div>
  </div>
</div>