<!DOCTYPE html>
<style>
	.container {
		font-family: Microsoft JhengHei;
	}
	h5 {
		border-bottom: 1px solid #000;
		padding-bottom: 10px;
		margin-top: 20px;
		margin-bottom: 20px;
	}
	.list {
		padding-top: 6px;
		padding-bottom: 6px;
		margin-bottom: 4px;
		line-height: 2;
		background-color: #f4f4f4;
	}
	.list:hover {
		background-color: #eee;
	}
	.list .content {
		margin-left: 5px;
	}
	.list .due {
		display: block;
		color: #4caf50;
		font-size: 10px;
		line-height: 1;
	}
	.list .overdue {
		color: ;
	}
	.list .proj {
		background-color: #607d8b;
		color: #fff;
		padding: 2px 4px;
		margin: 0 1px;
		border-radius: 5px;
	}
	.list .task {
		background-color: #0EA8E3;
		color: #fff;
		padding: 2px 4px;
		margin: 0 1px;
		border-radius: 5px;
	}
	.list .todo {
		background-color: #CFE6FF;
		padding: 2px 4px;
		margin: 0 1px;
		border-radius: 5px;
	}
	.list .leader {
		background-color: #fbc02d;
		color: #fff;
		padding: 2px 4px;
		margin: 0 1px;
		border-radius: 5px;
	}
</style>
<div class="container">
	<div class="row">
    <div class="col s12 l8">
    	<h5>參與專案</h5>
      <div class="card blue-grey">
        <div class="card-content white-text">
          <span class="card-title">課程報名繳費系統</span>
          <p>此專案由雲林科技大學資訊中心指派，由本校資管系學生開發。</p>
        </div>
        <div class="card-action">
        </div>
      </div>

			<div class="card blue-grey">
        <div class="card-content white-text">
          <span class="card-title">課程報名繳費系統</span>
          <p>此專案由雲林科技大學資訊中心指派，由本校資管系學生開發。</p>
        </div>
        <div class="card-action">
        </div>
      </div>

    </div>

    <div class="col s12 l4">
    	<h5>任務清單</h5>
    	<div class="list valign-wrapper">
    			<i class="material-icons valign">assignment</i>
    			<div class="content valign">
    				<span class="due">2015-1-11</span>
    				在<span class="proj">課程報名繳費系統</span>中，擔任<span class="task">資料庫設計</span>的<span class="leader">負責人</span>
    			</div>
    	</div>
    	<div class="list valign-wrapper">
    			<i class="material-icons valign">assignment</i>
    			<div class="content valign">
    				<span class="due">2015-1-11</span>
    				在<span class="proj">課程報名繳費系統</span>中，擔任<span class="task">資料庫設計</span>之下<span class="todo">蒐集資料庫資料</span>的協作者
    			</div>
    	</div>
			<br>
    	<div>已完成</div>
    </div>

  </div>
</div>