<!DOCTYPE html>
<html>
<head>
	<title>Task - Todos</title>
	<!-- Sortable.js Config -->
	<script src="//cdn.jsdelivr.net/sortable/latest/Sortable.min.js"></script>
	<script src='/js/tinymce/tinymce.min.js'></script>
	<script src="/js/sortable-config.js"></script>
	<!-- collaboration -->
	<script src="/js/task-collaboration.js"></script>

</head>

<style type="text/css">
	.task{
		padding-top: 30px;
		font-family: '微軟正黑體';
		font-weight: ;
	}
	.todos-dashboard{
		height: 154px;
		background-color: ;
		border-top-style:outset;
 		border-bottom-style:inset;
		border-right-style:inset;
		border-left-style:outset;
		border-radius: 5px;
		border-width: 0.5px;
		padding: 20px;
		margin-bottom: 7px;
	}
	.task-title{
		margin-left: 5px;
		font-size: 24px;
		font-weight: bold;
	}
	.task-tag{
		display: inline-block;
	    margin: 6px 12px 6px 7px;
	    padding: 3px 7px;
	    border-radius: 4px;
	}
	.collapsible-body{
		padding: 30px 35px 30px 40px;
	}
	.collapsible-body div{
		overflow: auto;
	}
	.collapsible-body div span{
		display: inline-block;
	}
	.collapsible-header{
		padding-left: 38px;
	}
 	/* activity post */
 	.chip.chip-small img{
 		height: 20px;
 		width: 20px;
 	}
 	.chip-small{
 		height: 20px;
 		line-height: 20px;
 		font-size: 8px;
 		font-family: '新細明體';
 		margin-bottom: 5px;
 	}
 	.activity{
 		text-align: center; margin-bottom: 3px; font-size: 20px;
 		border-radius:5px;
 	}
 	.activity-wrapper{
		padding: 15px 15px 30px 16px;
		background-color:white;
		border-radius:5px;
		/* min-height:400px;
		max-height: 400px; */
		height: 100%;
		overflow: scroll;
		font-family: 微軟正黑體;
	}
	.activity-date{
		padding-top: 10px;
	}
 	.activity-post{
 		padding: 0px 0px 5px 0px;
 	}
 	.status{
 		display: inline-block;
 		width: 55px;
 		text-align: center;
 		font-weight: 600;
 		border-top-style:outset;
 		border-bottom-style:inset;
		border-right-style:inset;
		border-left-style:outset;
		border-radius: 5px;
		border-width:thin;
		font-size: 13px;
 	}
 	.update{
 		color: #01579b;
 	}
 	.add{
 		color: green;
 	}
 	.omit{
 		color: #606060;
 	}
 	.done{
 		color: red;
 	}
 	#dropdown2 li{
 		margin-right: 65px;
 	}
 	.collapsible-header{
 		cursor: default;
 		-moz-user-select: none;
	    -khtml-user-select: none;
	    -webkit-user-select: none;
	    -o-user-select: none;
 	}
 	.todo-setting{
 		float: right;
 	}
 	.todo-setting i{
 		font-size: 18px;
 		margin-right: 0px;
 	}
 	.todo-setting-nav{

 	}
 	.todo-setting-drop{
 		display: none;
 		position: absolute;
 		background: #D8D8D8;
 		z-index: 999;
 		float: right;
 		right: 0px;
 		font-weight: bold;
 		font-size: 18px;
 		line-height: 38px;
 		border-top-style:outset;
 		border-bottom-style:inset;
		border-right-style:inset;
		border-left-style:outset; 
 	}
 	.todo-setting-drop li{
 		padding-left: 28px;
 		padding-right: 28px;
 		cursor: pointer;
 	}
 	.todo-setting-drop li:hover{
 		background: #A4A4A4;
 	}
 	.todo-duedate{
 		float: right;
 		display: inline-block;
 	}
 	.todo-duedate span{
 		padding-left: 7px;
 		padding-right: 7px;
 		cursor: pointer;
 		color: #01579b;
 		display: inline-block;
 		line-height: 26px;
 		position: relative;
 		min-width: 48px;
 		text-align: center;
 		font-weight: 600;
 		border-top-style:outset;
 		border-bottom-style:inset;
		border-right-style:inset;
		border-left-style:outset;
		border-radius: 5px;
		border-width:thin;
		font-size: 13px;
 	}
 	.todo-duedate span:hover{
 		background-color: #D8D8D8;
 	}
</style>

<body>
<div id="task-id" style="display: none;">5655a784dbb681cc10b5f03d</div>
  <div class="row task">
    <!-- Post -->
    <div class="col s3">
    <ul id="dropdown2" class="dropdown-content">
    <li><a href="#!">系統架構規劃<span class="badge">5/11</span></a></li>
    <li><a href="#!">資料庫設計<span class="new badge">1</span></a></li>
    <li><a href="#!">系統實作<span class="badge">0/6</span></a></li>
    <li><a href="#!">系統測試<span class="badge">0/12</span></a></li>
  </ul>
  <a class="btn dropdown-button" href="#!" data-activates="dropdown2">切換任務<i class="mdi-navigation-arrow-drop-down right"></i></a>
            
    <!-- <div class="activity"><b>專案動態</b></div> -->
      <div class="activity-wrapper">
      	  <div class="activity-date">
      	  Nov 26
      	  <hr/>
      	  </div>
	      <div class="activity-post">
	      <span class="status update">更新</span> 系統架構規劃：蒐集需求
	      </div>
	      <div class="activity-post">
	      <span class="status add">新增</span> 系統架構規劃：需求分析
	      </div>
	      <div class="activity-post">
	      <span class="status omit">刪除</span> 系統架構規劃：功能確認
	      </div>
	      <div class="activity-post">
	      <span class="status done">完成</span> 資料庫設計：課程資料表
	      </div>
	      <div class="activity-date">
      	  Nov 25
      	  <hr/>
      	  </div>
      	  <div class="activity-post">
	      	<span class="status update">更新</span>
			<div class="chip chip-small">
			  <img src="images/dashboard-leader2.jpg" alt="Contact Person">
			  林紘丞
			</div> | 系統架構規劃
			<span class="status update">更新</span>
			<div class="chip chip-small">
			  <img src="images/dashboard-leader.jpg" alt="Contact Person">
			  許韶文
			</div>｜資料庫設計
			<span class="status update">更新</span>
			<div class="chip chip-small">
			  <img src="images/dashboard-leader2.jpg" alt="Contact Person">
			  林紘丞
			</div>｜系統架構規劃
			<span class="status add">新增</span>
			<div class="chip chip-small">
			  <img src="images/dashboard-leader2.jpg" alt="Contact Person">
			  林紘丞
			</div>｜系統架構規劃
			<span class="status update">更新</span>
			<div class="chip chip-small">
			  <img src="images/dashboard-leader2.jpg" alt="Contact Person">
			  林紘丞
			</div> | 系統架構規劃
			<span class="status update">更新</span>
			<div class="chip chip-small">
			  <img src="images/dashboard-leader.jpg" alt="Contact Person">
			  許韶文
			</div>｜資料庫設計
			<span class="status update">更新</span>
			<div class="chip chip-small">
			  <img src="images/dashboard-leader2.jpg" alt="Contact Person">
			  林紘丞
			</div>｜系統架構規劃
			<span class="status add">新增</span>
			<div class="chip chip-small">
			  <img src="images/dashboard-leader2.jpg" alt="Contact Person">
			  林紘丞
			</div>｜系統架構規劃
	      </div>

      </div>
    </div>
    <!-- Todo & config -->
    <div class="col s9">
	    <div class="todos-dashboard z-depth-1">
			<div class="task-dashboard-wrapper">
				<span class="task-title">資料庫設計</span><br/>
				<span class="task-tag" style="color: #515101; background-color:#fcf8e3;">到期日</span>2015/12/01
				<span class="task-tag" style="color: #3c763d; background-color:#dff0d8; margin-left:22px;">完成率</span>0/4
				<br/>
				<span class="task-tag" style="color: #004669; background-color:#d9edf7;">負責人</span>
				<!-- collaborators -->
				<div class="chip">
				    <img src="images/dashboard-leader.jpg" alt="Contact Person">
				    許韶文
				</div>
				<span class="task-tag" style="color: #004669; background-color:#d9edf7;">成員</span>
				<div class="chip">
				    <img src="images/dashboard-leader2.jpg" alt="Contact Person">
				    林紘丞
				</div>
				<i class="material-icons" style="font-size: 26px; padding-top: 7px;">supervisor_account</i>
			</div>
		</div>

		<div class="ctrl-panel">
			<a id="button_add" class="waves-effect waves-light btn" href="javascript: add_todo();">新增</a>
			<a id="button_delete" class="waves-effect waves-light btn" href="javascript: delete_todo();">檔案</a>
			<div class="switch" style="display: inline-block; margin-left: 10px;">
			    <label>
			      排序
			      <input id="button_sortable" type="checkbox">
			      <span id="button_sortable" class="lever"></span>
			    </label>
			 </div>
			<!-- <a id="button_sortable" class="waves-effect waves-light btn" href="javascript: sortable_todo();">排序</a> -->
		</div>
		<div class="todos">
			<ul class="collapsible" data-collapsible="expandable" id="todos-sortable">
				<!-- <li id="li567ca81e68f9b3a8464bca40"><input type="checkbox" class="filled-in" id="checkbox567ca81e68f9b3a8464bca40" checked=""><label for="checkbox567ca81e68f9b3a8464bca40" style="position:absolute; margin-top:12px; margin-left:12px"></label><div class="collapsible-header" style="display: inline-block; width:100%"><i class="material-icons">place</i><span class="todos-title">新事項一</span><span class='todo-setting'><i class='material-icons'>view_list</i></span></div><ul class="todo-setting-drop"><li style="color: #0174DF">指派</li><li style="color: #DF013A">刪除</li></ul><div class="collapsible-body" id="todos-content" contenteditable="false">雙擊編輯內容</div></li> -->
				<!-- <li>
				  <input type="checkbox" class="filled-in" id="todos_id2" checked="checked"/>
		      	  <label for="todos_id2" style="position: absolute; margin-top:12px; margin-left:12px"></label>
				  <span style="float: left"><i class="material-icons">place</i><span id="todos-title">台南大學翟老師-施測網站</span></span>
				  <div class="collapsible-header" style="display: inline-block; width:100%"></div>
				  <div class="collapsible-body" id="todos-content" contentEditable="false">
				  	Second 
				  </div>
				</li> -->
				<!-- <li>
				  <input type="checkbox" class="filled-in" id="todos_id3" checked=""/>
		      	  <label for="todos_id3" style="position: absolute; margin-top:12px; margin-left:12px; margin-right:20px;"></label>
				  <div class="collapsible-header"><i class="material-icons">whatshot</i><span id="todos-title">念沛學長企業-官方網站</div>
				  <div class="collapsible-body" id="todos-content" contentEditable="false">
				  	Third
				  </div>
				</li>
				<li>
				  <input type="checkbox" class="filled-in" id="todos_id4" checked=""/>
		      	  <label for="todos_id4" style="position: absolute; margin-top:12px; margin-left:12px; margin-right:20px;"></label>
				  <div class="collapsible-header"><i class="material-icons">whatshot</i><span id="todos-title">MIS期末系統-Canvas授權網站</div>
				  <div class="collapsible-body" id="todos-content" contentEditable="false">
				  	Fourth
				  </div>
				</li> -->
			</ul>
		</div>
	</div>
  </div>

</body>
<input type="date" style="display: none;" class="datepicker">
</html>

<script>
//script for document
var todos = document.getElementById('todos-sortable');
var sortable_api = sortable_init(todos);

$( document ).ready(function(){
	$('.footer').remove();
	collection_init();
	sortable_button_init();

	//datepicker
	var $datepicker_input = $('.datepicker').pickadate({
	    selectMonths: true, // Creates a dropdown to control month
	    selectYears: 15, // Creates a dropdown of 15 years to control year
	    format: 'yyyy-mm-dd'
	});
	// Use the picker object directly.
	picker = $datepicker_input.pickadate('picker');
	picker.on('set', function() {
	  var time = picker.get('select', 'mmmm - dd - yyyy').toString();
	  if(!time){
	  	time = '期限';
	  }
	  $this_duedate.find('span').html(time).attr('data-time',picker.get());
	  // var data = {
	  // 	todo_id: ,
	  // 	duedate: time,
	  // }
	  // socket.emit('',data);
	  //picker.set('clear');
	});

	$('.collapsible').delegate('.todo-duedate', 'click', function(){
		//trigger : date picker
		// if($this_duedate.get(0) != $(this).get(0)){
		// 	console.log('not the same guy');
		// 	picker.set('clear');
		// }
		$this_duedate = $(this);
		//get clicked todo current date
		var this_current_date = $this_duedate.find('span').attr('data-time');
		//set it on picker
		if(typeof this_current_date != 'undefined'){
			picker.set('select',this_current_date, { format: 'yyyy-mm-dd' });
		}

		picker.open();
		event.stopPropagation();
	}).delegate('.collapsible-body', 'click', function(){
		  tinymce.init({
		  inline: true,
		  selector: '.collapsible-body',
		  plugins: [
		        "advlist autolink lists link image charmap print preview anchor",
		        "searchreplace visualblocks code fullscreen",
		        "insertdatetime media table contextmenu paste imagetools",
		        "textcolor"
		    ],
		    toolbar: "insertfile undo redo | styleselect | bold italic | alignleft aligncenter alignright alignjustify | bullist numlist outdent indent | link image | forecolor backcolor",
		  imagetools_cors_hosts: ['www.tinymce.com', 'codepen.io'],
		  content_css: [
		    '//fast.fonts.net/cssapi/e6dc9b99-64fe-4292-ad98-6974f93cd2a2.css'
		  ]
		});
	});
});

$(document).on('keypress', 'span', function (e) {
    var code = e.keyCode || e.which;
    if (code == 13) {
        e.preventDefault();
        return false;
    }
});

</script>
